@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

body{
	margin:0;
	padding:0;
    background:#22252a;
}
section{
    height: 10vh;
    background: #22252a;
    background-color: #22252a;
}

a{
    position:absolute;
    top: 0px;
    left: 10px;
    display: inline-block;
    padding: 10px;
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
#round{
    border-radius: 25px;
    border: 2px solid black;
    padding: 11px;
    width: 50px;
    height: 15px;
}
h1{
    font-size:30px;
    margin-right: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    top: 0%;
    transform: translate(-50%);
    width: 100%;
    text-align: right;
    color: #ddd;
    background-color: #22252a;
    font-family: helvetica;
    letter-spacing: 0.3em;
    font-weight: 600;
}
h1 span{
    display: inline-block;
    animation: key 1s linear infinite;
}
h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: .25s;
}
h1 span:nth-child(3){
    animation-delay: .5s;
}
@keyframes key{
    0%,100%
    {
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff;
                    0 0 20px #00b3ff;
                    0 0 40px #00b3ff;
                    0 0 80px #00b3ff;
                    0 0 120px #00b3ff;
                    0 0 200px #00b3ff;
                    0 0 300px #00b3ff;
                    0 0 400px #00b3ff;
    }
    5%,95%
    {
        color: #111;
        filter: blur(0);
        text-shadow:  none;
    }
}
.container{
	max-width:1140px;
    margin: auto;
	position: relative;
	min-height: 1px;
}

.team{
	min-height: 100vh;
	padding:60px 15px;
	background-color:#22252a; 
	float: left;
	width: 100%;
}
.team h1{
	font-size: 36px;
	font-family: sans-serif;
	font-weight: 700;
	color:#ffffff;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}
.team .card{
	width:30%;
	float: left;
	padding:2px 18px;
}
.team .card .box {
	padding:20px;
	background-color: black;
	border-radius:5px;
	transition: margin .25s ease,box-shadow .25s ease;
}
.team .card .box:hover{
	margin-top:-35px;
	box-shadow:0px 0px 40px yellow;
}
.team .card .box img{
	width:150px;
	display: table-cell;
	margin:5px auto;
	border-radius:50%;

}

.team .card .box h4{
	font-size: 20px;
	font-family: open sans-serif;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align: center;
	font-weight: 800;
}

.team .card .box h5{
	font-size:16px;
	font-family: open sans;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}
section{
    animation: animate 10s linear infinite;
    text-shadow: 0 0 10px rgba(255,255,255,1);
                 0 0 20px rgba(255,255,255,1);
                 0 0 40px rgba(255,255,255,1);
                 0 0 80px rgba(255,255,255,1);
                 0 0 160px rgba(255,255,255,1);
}
section{
   text-transform: capitalize;
    text-shadow: 0 0 1px rgba(255,255,255,1);
                 0 0 2px rgba(255,255,255,1);
                 0 0 4px rgba(255,255,255,1);
                 0 0 8px rgba(255,255,255,1);
                 0 0 1px rgba(255,255,255,1);
    
}
@keyframes animate
{
    0%
    {
       filter: hue-rotate(0deg);
    }
    100%
    {
       filter: hue-rotate(360deg);
    }
}



















