@font-face {
    font-family: "ostrich_rounded";
    src: url("fonts/ostrich_medium_rounded/ostrichsansrounded-medium.woff") format("woff"),
url("fonts/ostrich_medium_rounded/ostrichsansrounded-medium.svg#filename") format("svg");
}

@font-face {
    font-family: "ostrich_thick";
    src: url("fonts/ostrich_thick/ostrich-sans-black.woff") format("woff"),
url("fonts/ostrich_thick/ostrich-sans-black.svg#filename") format("svg");
}
::-webkit-scrollbar{
    margin:auto;
    background-color: #fec345;
}
::-webkit-scrollbar-thumb{
    margin: auto;
    background-color: #fec325;
}

body{
    margin: 0%;
    padding: 0%;
}
*{
    margin: 0;
    padding: 0;
}
#particles-js{

    background:#fec345 ;
    background-size:cover;
    background-position: fixed;
    height:100%;
}
.whole{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.headercontainer{
    width: 100%;
    height: 100%;
}
.menu ul{
    display: inline-flex;
    margin: 20px;
    background: transparent;
}
.menu ul li{
    font-family: "ostrich_rounded";
    font-size: 22px;
    list-style: none;
    margin: 0 24px;
    color: #000000;
    cursor: pointer;
    background: transparent;
    transition: 0.2s;
}
.menu ul li:hover{
    color: #34495e;
    transform: scale(1.1) rotate(-3deg);
}
.active{
    color: #4580fe!important;
    background: transparent;
}
.no_und{
    text-decoration: none;
}
.container{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "ostrich_rounded";
    transform: translate(-50%, -50%);
    text-align: center;
    color: #d6d3d3;
    border: 2px;
    border-style:solid;

    border-color: #fec345;
    border-radius:20px;
    background: #000000;
    /*box-shadow: 0px 0px 50px 5px #d6d3d318;*/
    animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe{
    0%{
        box-shadow: 0px 0px 20px 5px #00000090;
    }
    50%{
        box-shadow: 0px 0px 25px 8px #00000090;
    }
    100%{
        box-shadow: 0px 0px 20px 5px #00000090;
    }
}
.container h1{
    font-size: 50px;
    margin-top: 13%;
    margin-bottom: 30px;
    text-shadow: 2px 2px #7977747d;
}
.tbox{
    font-family: "Montserrat", sans-serif;
    margin-bottom: 3%;
    width: 80%;
    height: 40px;
    background: #b1b1b1b3;
    border-radius: 18px;
    margin: 10px auto;
    background: #b0b1b138;
}
::placeholder{
    color: #fec325b1;
    font-family: "ostrich_thick";
    /*font-size: 20px;*/
}
.tbox input{
    background: none;
    border: none;
    text-align: center;
    outline: none;
    width: 90%;
    height: 40px;
    color: white;
}
.forgot{
    display: block;
    font-family: "Montserrat", sans-serif;
    width: 75%;
    text-decoration: none;
    color: #a6a6a4;
    text-align: right;
    margin: 0px auto;
    font-size: 10px;
    transition: 0.2s;
}
.forgot:hover{
    text-decoration:underline;
}

.loginbtn{
    width: 120px;
    height: 30px;
    border-radius: 1px;
    margin: 40px auto 10px;
    background:#3333307a;
    border: 1.3px;
    border-style:solid;

    border-color: #fec325;
    border-radius:20px;
    font-family: "ostrich_thick";
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}
.loginbtn:hover{
    background: #fec325;
    color:black;

}
.b1{
    display: block;
    font-family: "ostrich_thick";
    width: 130px;
    text-decoration: none;
    color: #fec3257a;
    text-align: center;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    transition: 0.3s;   
}
.b1:hover{
    color: #fec325;
}
.lb{
    width: 90%;
    top: 20%;
}